{% extends "newsletter_base.html" %}

{% block title %}Newsletter Index{% endblock %}
{% block content %}
<h1>Welcome</h1>
        <h2>Subscribe to our newsletter!</h2>
<form action="{%url 'newsletter:index' %}" method="post">
    {% csrf_token %}
    {{ form}}
    <input type="submit" value="Subscribe!" />
</form>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}
